/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}
button:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 8px 0 rgba(136, 144, 195, 0.22), 0 8px 15px 0 rgba(37, 44, 97, 0.17);
}



.menu-bur i{
    display: none;
}

/* Header Styles */


header {
    width: 100%;
}
.top-banner span{
    font-size: 18px;
}


.container-fluid{
    max-width: 1218px;
    margin: 0 auto;
}
/* Dropdown Styles */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: relative;
}
.dropdown .fa-caret-down:hover{
    transform: rotate(100deg);
}

.nav-links li {
    position: relative;
    cursor: pointer;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8c52ff;
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    text-align: center;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
   
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    font-size: 14px;
    padding: 10px 10px;
}

.dropdown-menu li {
    list-style: none;
    border-bottom: 1px solid #E5E5E5;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}
.dropdown-menu a:hover{
    transform: translateY(-2px);
    
}
.dropdown-menu a {
    transition: 0.4s;
    display: block;
    padding: 10px 20px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f9f9f9;
    color: #8c52ff;
}


.top-banner {
    background-color: #8c52ff;
    color: white;
    text-align: center;
    padding: 10px 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top-banner .cta-button {
    background-color: white;
    color: #8c52ff;
    margin-left: 10px;
    border-radius: 8px !important;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 0px;
    padding-bottom: 0;
    background-color: white;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.fl-loop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #8c52ff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav-links li a{
    font-weight: 600;
}

.nav-links li {
    position: relative;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8c52ff;
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.register-button  {
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    background-color: white;
    color: #8c52ff;
    padding: 10px 10px;
    border: 2px solid #8c52ff;
    border-radius: 4px;
    line-height: 1.2;
    font-weight: 700;
    transition: 0.4s;
}
.register-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 8px 0 rgba(136, 144, 195, 0.22), 0 8px 15px 0 rgba(37, 44, 97, 0.17);
}

/* Main Styles */

.fl-content{
    max-width: 400px;
    margin: 0 auto;
    margin-top: -13px !important;
    margin-bottom: 37px;
    line-height: 1.5;

}
main {
    text-align: center;
    padding: 50px 20px;
}

.hero {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 33px;
    color: #333;
}

.hero .highlight {
    color: #8c52ff;
    font-weight: bold;
}

.hero .know-more-button {
    background-color: #8c52ff;
    color: white;
    margin-top: 20px;
}

.hero .note {
    margin-top: 20px;
    color: #666;
    font-size: 13px;
}

.hero .emoji {
    font-size: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .register-button {
        display: none;
    }

    .hero h1 {
        font-size: 28px;
    }
}

@media (min-width: 769px) {
    .nav-links {
        display: flex;
        align-items: center;
    }

    .register-button {
        display: block;
    }
}

/* Roadblocks Section */
.roadblocks {
    text-align: center;
    padding: 50px 20px;
}

.roadblocks h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.pare-content p {
    color: #666;
    margin-bottom: 40px;
    font-size: 19px;
 
}

.roadblock-items {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.roadblock-item {
    max-width: 200px;
    text-align: center;
}

.roadblock-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.roadblock-item h3 {
    font-size: 21px;
    margin-bottom: 10px;
    color: #333;
}

.roadblock-item p {
    color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .roadblock-items {
        flex-direction: column;
        align-items: center;
    }

    .roadblock-item {
        max-width: 300px;
        margin-bottom: 40px;
    }
}

/* Blog Carousel */
.blog-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    position: relative;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.carousel-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.carousel-content {
    text-align: left;
}

.carousel-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.carousel-content p {
    color: #666;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.access-article {
    background-color: #8c52ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.read-here {
    color: #8c52ff;
    text-decoration: none;
}

.carousel-controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.carousel-controls button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Services Section */
.services {
    text-align: center;
    padding: 50px 20px;
    padding-bottom: 0;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.services p {
    color: #666;
    margin-bottom: 40px;
}

.services .highlight {
    color: #8c52ff;
    font-weight: bold;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.service-card {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 50px;
    max-width: 250px;
    padding: 10px 20px 15px 20px;
    box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}
.floo {
    position: absolute;
    top: -21px;
    left: 0;
    right: 0;
}
.floo svg{
    fill: red !important;
}

.service-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.service-card p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.service-card a {
    color: #8c52ff;
    text-decoration: none;
    font-weight: bold;
}

.new-badge,
.pay-per-meeting-badge {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #8c52ff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.pay-per-meeting-badge {
    background-color: #8c52ff;
}

.chat-banner {
    margin-top: 30px;
}

.chat-button {
    background-color: #8c52ff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        max-width: 90%;
    }
}
/* GTM Referrals Section */

.gtm-referrals {
    text-align: center;
    padding: 50px 20px;
}

.gtm-referrals h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.gtm-referrals p {
    color: #666;
    margin-bottom: 40px;
}

.stats-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.stats-card {
    background-color: white;
    border: 2px solid #E5E5E5;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-card h3 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #333;
}

.stats-card .stat-title {
    font-size: 18px;
    color: #8c52ff;
    margin-bottom: 10px;
}

.stats-card p {
    color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .stats-cards {
        flex-direction: column;
        align-items: center;
    }

    .stats-card {
        max-width: 90%;
    }
}
/* FAQ Section */


.accordion {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
.accordion-item button:hover{
    box-shadow: none !important;
    transform: translateY(0);
   
}
.accordion-item:hover{
    
    border-color: #8C52FF;
    overflow: hidden;
    transition: border-color 0.25s ease, color 0.25s ease;
   
}
.accordion-item {
    border: 2px solid #E5E5E5;
    border-radius: 16px;
    margin-bottom: 10px;
    overflow: hidden;
}
section.faq h2{
    font-size: 3rem;
}

.accordion-header {
    width: 100%;
    background-color: #f9f9f9;
    color: #8c52ff;
    padding: 15px;
    text-align: left;    font-family: "Montserrat", sans-serif;

    padding: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

/* .accordion-header:hover,
.accordion-header.active {
    background-color: #e5e5f9;
} */

.accordion-header .fa-chevron-down {
    transition: transform 0.3s;
    font-size: 15px;
}

.accordion-header.active .fa-chevron-down {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #fff;
    padding: 0 15px;
}

.accordion-content p {
    padding: 15px 0;
    margin: 0;
}

/* Footer Section */
.footer {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px;
}
.footer-contemt-ffl{
    background-color: #8c52ff;
    padding: 50px 20px;
    text-align: center;
}
.footer-top {
    margin-bottom: 30px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 6rem;
    background-color: #8c52ff;
    color: #fff;

}

.footer-top h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.footer-top p {
    font-size: 18px;
    margin-bottom: 37px;
}

.footer-top .cta-button {
    background-color: white;
    color: #8c52ff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.footer-top .cta-button:hover{
    transform: translateY(-3px) !important;
    box-shadow: 0 2px 8px 0 rgba(136, 144, 195, 0.22), 0 8px 15px 0 rgba(37, 44, 97, 0.17);

}
.btn-l{
    background: none !important;
}
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
}

.footer-column {
    max-width: 200px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: black;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column a img {
    width: 24px;
    height: 24px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
    }

    .footer-column {
        max-width: 90%;
        text-align: left;
    }
}


.m-x-wid{
    max-width: 500px;
    margin: 0 auto;

}
.hero-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
}

.hero-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 54px;
    line-height: 1.6;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.primary-button, .secondary-button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-height: 46px;
}

.primary-button {
    background-color: #8c52ff;
    color: white;
}

.secondary-button {
    background-color: white;
    color: black;
    border: 2px solid #8c52ff;
}

.features-section {
    display: flex;
    justify-content: center;
    padding: 6rem 0;
    gap: 4rem;
    padding-bottom: 0;
}

.feature-item {
    max-width: 250px;
    text-align: center;
}
.feature-item p{
    font-size: 16px;

}

.feature-item h2 {
    color: black;
    margin-bottom: 3px;
    display: inline-block;
    padding-bottom: 3px;
    font-size: 23px;
    position: relative;
}
.feature-item h2::after{
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    background-color:  #8c52ff;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

}

/* Responsive Styles */
@media (max-width: 768px) {
    .timeline-item {
        flex-direction: column;
    }

    .timeline-item::after {
        display: none;
    }

    .timeline-image::after,
    .timeline-content::after {
        display: none;
    }

    .timeline-content {
        margin: 20px 0;
    }
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.responses-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
}

.responses-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.responses-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.response-items {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 4rem;
}

.response-item {
    max-width: 250px;
    text-align: left;
}

.response-item h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.response-item ul {
    list-style-type: none;
    padding: 0;
}

.response-item ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.response-item ul li:before {
    content: '✔';
    color: #8c52ff;
    margin-right: 10px;
}

.trusted-partner h2 {
    font-size: 1.5em;
    margin-top: 0;
}

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #8c52ff;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #8c52ff;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  margin-left: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
}
#timeline .timeline-item .timeline-content {
  width: 44%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content h2 {
  padding: 15px;
  background: #8c52ff;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  position: absolute;
  left: 44%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #6f42c1;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #8c52ff;
}

.btn {
  padding: 5px 15px;
  text-decoration: none;
  background: transparent;
  border: 2px solid #8c68ce;
  color: #8c68ce;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 2px 2px 0 #8c68ce;
  -moz-box-shadow: 2px 2px 0 #8c68ce;
  -ms-box-shadow: 2px 2px 0 #8c68ce;
  box-shadow: 2px 2px 0 #8c68ce;
}
.btn:hover {
  box-shadow: none;
  top: 2px;
  left: 2px;
  -webkit-box-shadow: 2px 2px 0 transparent;
  -moz-box-shadow: 2px 2px 0 transparent;
  -ms-box-shadow: 2px 2px 0 transparent;
  box-shadow: 2px 2px 0 transparent;
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #6f42c1;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
}
.modal-content img{
    width: 17px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closes {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closes:hover,
.closes:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




/* responsive code  */

@media (max-width: 768px) {
    .top-banner{
        flex-direction: column;
    }
    .top-banner .cta-button{
        width: 100% !important;
    }
    nav{
        padding: 57px 20px !important;
    }
    .features-section{
        flex-wrap: wrap !important;
    }
    .response-items{
        flex-flow: wrap;
    }
    .buttons{
        flex-direction: column;
    }
    button{
        width: 100% !important;
    }
    .menu-bur i{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 40px;
        border-radius: 100%;
        padding: 10px;
        height: 40px;
        font-size: 20px;        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(136,144,195,0.2),0 5px 15px 0 rgba(37,44,97,0.15);
    }
    .register-button{
        color: #8c52ff !important;
        font-size: 14px !important;
        margin: 10px 0px !important;
        padding: 10px 20px !important;
    }

    .fl-float-rigt{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;
        margin: 0 auto;

    }
    .top-my{
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       height: 60vh;

    }

}

@media (max-width: 480px) {
    .accordion-header{
        font-size: 15px !important;
    }
}











.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    flex-direction: column;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: black;
    text-align: center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    font-size: 36px !important;
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
    
  }

